<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>

    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>
    
    {% include nav.html %}

    {% include breadcrumb.html with page=page %}


    <main id="content" role="main">
      {% include page_head.html %}
     <div class="container mt-5">
        {{content}}        
      </div>

      <div class="container">

        <div class="card-deck">        
          {% for sub in pages %}
            <div class="card">
              <a href="{{sub.url}}">
                <img class="card-img-top" src="{{sub.img}}" alt="{{sub.name}}"/>
                <div class="card-body">
                    <h4>{{sub.name}}</h4>
                    <p>{{sub.desc}}</p>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>

      </div>

    </main>

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
